#root {
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center; */
}


/* .ReactModal__Overlay {
  opacity: 0;
  transform: translateX(-100px);
  transition: all 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transform: translateX(0px);
}

.ReactModal__Overlay--before-close {
  opacity: 0;
  transform: translateX(-100px);
} */

.horz-scroll {
  display: flex;
  scroll-snap-type: x mandatory;
  overflow-x: auto;
  position: relative;
  -webkit-overflow-scrolling: touch;
  
  &::-webkit-scrollbar {
    display: none;
  }
}

.horz-item {
  margin: 10px;
  display: flex;
  flex-direction: row;
  scroll-behavior: smooth;
  scroll-snap-align: center;
  justify-content: center;
  align-items: center;
  
  &:first-child {
    padding-left: 8% 
  }
  
  &:last-child {
    padding-right: 8%;
  }
  
  .horz-div {
    display: flex;
    width: 80vw;
    height: 300px;
    border: 1px solid black;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
  }
}