#root {
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center; */
}


/* .ReactModal__Overlay {
  opacity: 0;
  transform: translateX(-100px);
  transition: all 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transform: translateX(0px);
}

.ReactModal__Overlay--before-close {
  opacity: 0;
  transform: translateX(-100px);
} */

.horz-scroll {
  display: flex;
  scroll-snap-type: x mandatory;
  overflow-x: auto;
  position: relative;
  -webkit-overflow-scrolling: touch;
  
  &::-webkit-scrollbar {
    display: none;
  }
}

.horz-item {
  margin: 10px;
  display: flex;
  flex-direction: row;
  scroll-behavior: smooth;
  scroll-snap-align: center;
  justify-content: center;
  align-items: center;
  
  &:first-child {
    padding-left: 8% 
  }
  
  &:last-child {
    padding-right: 8%;
  }
  
  .horz-div {
    display: flex;
    width: 80vw;
    height: 300px;
    border: 1px solid black;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
  }
}

.decent {
  appearance: none;
  height: 20px;
  width: 100%;
  /* border-radius: 5px; */
  border-width: 1px;
  border-color: black;
    
  /* Chrome and Safari */
  &::-webkit-progress-bar {
    border-radius: 5px;
    background: white;
  }

  &::-webkit-progress-value {
    /* border-radius: 5px; */
    border-width: 1px;
    border-color: black;
    background-color: #ffeb56 
  }

  /* Firefox */
  &::-moz-progress-bar {
    border-width: 1px;
    border-color: black;
    background-color: rgba(rgb(146, 255, 138), green, blue, alpha)
  }
}

.warning {
  appearance: none;
  height: 20px;
  width: 100%;
  border-radius: 5px;
  border-width: 1px;
  border-color: black;
    
  /* Chrome and Safari */
  &::-webkit-progress-bar {
    border-radius: 5px;
    background: white;
  }

  &::-webkit-progress-value {
    border-radius: 5px;
    background-color: #fd5d30 
  }

  /* Firefox */
  &::-moz-progress-bar {
    background-color: rgba(rgb(146, 255, 138), green, blue, alpha)
  }
}

.healthy {
  appearance: none;
  height: 20px;
  width: 100%;
  border-width: 1px;
  border-color: black;
  /* border-width: 1px; */
  border-color: black;
    
  /* Chrome and Safari */
  &::-webkit-progress-bar {
    border-radius: 5px;
    background: white;
  }

  &::-webkit-progress-value {
    border-width: 1px;
    border-color: black;
    background-color: #78f36b 
  }

  /* Firefox */
  &::-moz-progress-bar {
    border-width: 1px;
    border-color: black;
    background-color: rgba(rgb(146, 255, 138), green, blue, alpha)
  }
}

.footer {
  bottom: 5%;
  margin-top: 5%;
}

